.gal {
  padding-top: 50px;
  width: 100vw;
  height: auto; /* Remove fixed height to allow content to expand */
}

#gallery {
  text-align: center;
}

.gallery-heading {
  padding-top: 50px;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center; 
}
.gal p {
  padding: 15px;
  max-width: 1450px;
  text-align: justify;
}
.gallery-item {
  width: 100%;
}

.gallery-item img {
  width: 100%;
  height: 80%; /* Ensure aspect ratio is maintained */
  padding: 10px;
}
