* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: #420c59;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  place-items: center;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.bg-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 10px;
  text-align: center;
}

.bg-img .logo {
  width: 25%;
  height: auto;
  border-radius: 50%;
  object-fit: contain;
  box-shadow: 0 0 22px #8a868c, 0 0 42px #e2dfe4, 0 0 52px #f1ecf3, 0 0 62px #420c59, 0 0 72px #420c59, 0 0 82px #420c59;
}

.bg-img h1 {
  font-size: 3rem;
  margin: 10px 0;
}

.bg-img p {
  font-size: 1.5rem;
  margin: 10px 0;
}

.loading {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.loading img {
  max-width: 80%; 
  max-height: 80%; 
  object-fit: contain; 
  border-radius: 50%;
  box-shadow: 0 0 7px #fff, 0 0 42px rgb(170, 0, 255), 0 0 82px rgb(170, 0, 255);
  animation: zoomin 2s ease-in-out infinite alternate;
}

@keyframes zoomin {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.0);
  }
}

@media screen and (min-width: 768px) {
  .content-grid {
    grid-template-columns: 1fr 1fr;
  }
  
.loading {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.loading img {
  height: 60%;
  width: 30%;
  object-fit: contain;
  border-radius: 50%;
  box-shadow: 0 0 7px #fff, 0 0 42px rgb(170, 0, 255), 0 0 82px rgb(170, 0, 255);
  animation: zoomin 2s ease-in-out infinite alternate;
}
}
