.nav {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: space-between;
  background-color: #420c59;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 24px;
}

.logo {
  
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.nav-links li {
  padding: 0 20px;
}

.nav-links a {
  text-decoration: none;
  color: white; 
}

@media screen and (max-width: 768px) {
  .nav {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 10px 20px; 
    font-size: 20px;
  }

  .nav-links {
    margin-top: 10px; 
    justify-content: center;
  }

  .nav-links li {
    padding: 10px; 
  }
}
