.containers {
  width: 100vw;
  padding: 0;
  margin: 0 ;
}

.past {
  text-align: center;
}
.past h2{
  padding-top: 100px;
  padding-bottom: 50px;
}
.event p{
  padding-top: 30px;
}
.event-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 20px;
  justify-content: center;
}

.event {
  text-align: center;
}

.event img {
  
  width: 80%;
  height: 80%; 
  max-width: 100%; 
  box-shadow:
  0 0 24px white,
  0 0 42px white,
  0 0 52px white
  ;
}

@media screen and (max-width: 768px) {
  .event-box {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
